/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#### logs ###
/log/
*.log
*.gz

#### jar ###
*.jar
*.war
*.zip

### sap ###
sapidoc3.jar 
sapjco3.jar
sapjco3.dll
sapjoc3.pdb
sapoutput
*.txt

